## Sanil Notebook Classwork

### Learn Python

In [37]:
import gender_guesser.detector as gender
import math 
import random

### Lesson 1

### How to print?
* print(*<print_item*>)

### How to take input?

* input()

Data types #1
* Integer 1,2,3,19,1832
* Float 1.2112,3223.0
* String 'asdadfa'
* Character 'a','b'

Data types #2
* List [1,2,45,65,4535]
* Tuple (1,2,3,44)
* Set
* Dictionary

### List
* They can be changed

In [38]:
numbers = [42,88,23,32,342]

In [39]:
type(numbers)

list

### Add an element

In [40]:
numbers.append(5)

In [11]:
numbers[2] = 45

In [41]:
print(numbers)

[42, 88, 23, 32, 342, 5]

In [8]:
toDoList = ['coding','wake up']

In [9]:
print(toDoList)

['coding', 'wake up']

### Tuple
* They cannot be changed

In [21]:
numbers = (42,88,23,32,342)

In [22]:
numbers

(42, 88, 23, 32, 342)

In [23]:
type(numbers)

tuple

In [1]:
# numbers[2] = 45

In [25]:
numbers

(42, 88, 23, 32, 342)

### Set
* They are not in order
* They cannot have same element

In [34]:
numbers = {'15','4','17','21'}

In [35]:
numbers

{'15', '17', '21', '4'}

In [36]:
numbers.add('4')

In [37]:
numbers

{'15', '17', '21', '4'}

### Dictionary
* Key value pair
* Keys should be unique
* value may be unique

In [2]:
nameAge = {'ramu' : 12,'surya' : 15}

In [5]:
nameAge['surya']

15

### Lesson 2

* Assignment operator
## =

### Comaprative operators :

* == , >= , <= , < , >
* output is true or false

* >= : > or ==

In [7]:
1 == 3

False

In [8]:
12 >= 6

True

In [9]:
10 <= 10

True

In [10]:
14 == 13

False

In [11]:
12 < 3

False

In [12]:
13 > 9

True

In [13]:
1,3223,232,3,2,1112,True

(1, 3223, 232, 3, 2, 1112, True)

In [16]:
bool(-1)

True

In [61]:
num = random.randint(0,3)
color = ['red','blue','yellow','white']
print('The number which computer selected in num : ',num)
if(num == 1):
    print('I am inside IF : ',num,color[num])
elif(num == 2):
    print('I am inside ELIF : ',num,color[num])
else:
    print('I am inside ELSE : ',num,color[num])

The number which computer selected in num :  0
I am inside ELSE :  0 red

In [68]:
num = int(input())

2

In [67]:
num

5